@charset "utf-8";
table.brand tr td{width:240px;height:240px;text-align:center;border:1px solid #e4e8eb;transition:.3s}
table.brand tr td img{display:block}
table.brand tr td a.pink{width:100px;margin:10px auto 0;line-height:30px;display:block}
table.brand tr td a.pink:hover{color:#fff!important;background-color:#ef5f84}
